# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debug programs files
*.mk
*.d
makefile

# scons files
.sconsign.dblite

# eclipse settings
.settings/
Debug/
Default/
.cproject
.project
.externalToolBuilders
